<% layout('layout') -%>
<section class="hero">
    <div class="container">
        <h1>Добро пожаловать в MotoShop</h1>
        <p>Лучшие мотоциклы и запчасти</p>
        <div class="hero-buttons">
            <a href="/catalog" class="btn btn-primary">Перейти в каталог</a>
        </div>
    </div>
</section>
